/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        spacebar_behavior: spacebar_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACEBAR_BEHAVIOR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <38 39>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E     &kp R  &kp T                                    &kp Y                                 &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp TAB    &kp A  &kp S  &kp D     &kp F  &kp G                                    &kp H                                 &kp J  &kp K      &kp L    &kp SEMI  &kp ENTER
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V  &kp B                                    &kp N                                 &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp SQT
                         &kp LGUI  &mo 1  &spacebar_behavior LEFT_SHIFT BACKSPACE  &spacebar_behavior RIGHT_SHIFT SPACE  &mo 2  &kp RALT
            >;
        };

        lower_layer {
            bindings = <
&trans  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET      &kp AMPS  &kp KP_MULTIPLY  &kp LPAR      &kp RPAR   &trans
&trans  &kp F1    &kp F2  &kp F3    &kp F4    &kp F5     &kp PAGE_UP    &kp HOME  &kp C_BRI_UP     &kp C_VOL_UP  &kp ENTER  &trans
&trans  &kp F6    &kp F7  &kp F8    &kp F9    &kp F10    &kp PAGE_DOWN  &kp END   &kp C_BRI_DN     &kp C_VOL_DN  &kp ESC    &trans
                          &trans    &trans    &trans     &kp ENTER      &kp ESC   &trans
            >;
        };

        raise_layer {
            bindings = <
&trans  &kp N1   &kp N2    &kp N3  &kp N4    &kp N5     &kp N6     &kp N7            &kp N8    &kp N9    &kp N0    &trans
&trans  &kp TAB  &kp LEFT  &kp UP  &kp DOWN  &kp RIGHT  &kp MINUS  &kp EQUAL         &kp LBKT  &kp RBKT  &kp BSLH  &trans
&trans  &kp ESC  &trans    &trans  &trans    &trans     &kp GRAVE  &kp SINGLE_QUOTE  &kp LBRC  &kp RBRC  &kp PIPE  &trans
                           &trans  &kp ESC   &trans     &trans     &trans            &trans
            >;
        };
    };
};
